*.zip
Gemfile.lock
*.pyc
*.*~
build/*
datadog.conf
datadog_agent.egg-info/*
artifacts/*
node_modules/*
.DS_Store
venv/*
*.swp
*.log
*.pid
*.deb
*.rpm
*.egg-info*
dist/*
*.msi
*.wixobj
*.wixpdb
*.exe
nosetests*.xml
stats.dat
conf.d/*.yaml
!conf.d/network.yaml
packaging/build/
packaging/root/
packaging/datadog-agent/arch/*.gz
packaging/datadog-agent/arch/*.xz
packaging/datadog-agent/arch/pkg
packaging/datadog-agent/arch/src
Vagrantfile
.vagrant/*
embedded/*
.pip-cache/*
